body {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table {
  display: inline;
  border-collapse: collapse;
}

table td {
  width: 200px;
  height: 30px;
  border: 2px solid black;
}

thead {
  background-color: rgba(207, 207, 199, 0.349);
}

.prev-btn,
.next-btn,
.page-btn {
  margin: 20px 0;
  border-style: unset;
  background-color: white;
  font-size: 1.1rem;
  color: rgb(8, 111, 246);
}
.page-btn {
  cursor: pointer;
}
.next-btn {
  cursor: e-resize;
  border-bottom: 2px solid rgb(8, 111, 246);
}
.prev-btn {
  cursor: w-resize;
  border-bottom: 2px solid rgb(8, 111, 246);
}

[name='bookName'],
[name='bookPrice'] {
  margin-bottom: 5px;
}

.add-book-btn,
.close-modal-btn {
  border-radius: unset;
  background-color: rgb(93, 168, 93);
  border: none;
  color: white;
  padding: 5px 48px;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
}
.add-book-btn:hover,
.close-modal-btn:hover {
  box-shadow: 0 20px 32px 0 rgba(0, 0, 0, 0.24),
    0 20px 32px 0 rgba(0, 0, 0, 0.19);
}

.sorted-by:hover {
  cursor: pointer;
  background-color: rgb(207, 207, 199);
}

.modal {
  background-color: rgba(0, 0, 0, 0.678);
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 50%;
  height: 100%;
  min-width: 300px;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
}
.modal h5 {
  font-size: 3rem;
}
.modal h6 {
  font-size: 2rem;
}

img {
  width: 200px;
  height: 200px;
}
.add-bool-title {
  font-size: 1.2rem;
  font-weight: 300;
}

.action-btns {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.read {
  background-color: rgb(81, 123, 212);
}
.read:hover {
  background-color: rgba(81, 122, 212, 0.411);
}
.update {
  background-color: rgb(232, 180, 69);
}
.update:hover {
  background-color: rgba(232, 180, 69, 0.5);
}
.delete {
  background-color: rgb(212, 81, 92);
}
.delete:hover {
  background-color: rgba(212, 81, 92, 0.431);
}

.rate-book {
  padding: 8px 8px;
  border: none;
  background-color: rgb(42, 93, 141);
  color: white;
}

[name='bookRate'] {
  text-align: center;
  width: 25px;
  height: 25px;
}
