body {
  text-align: center;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

body.rtl {
  direction: rtl;
}

table {
  display: inline;
}

thead {
  background-color: rgba(207, 207, 199, 0.349);
}

[name='bookName'],
[name='bookPrice'] {
  margin-bottom: 5px;
}

.add-book-btn {
  border-radius: unset;
  background-color: rgb(93, 168, 93);
  border: none;
  color: white;
  padding: 5px 48px;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
}
.add-book-btn:hover {
  box-shadow: 0 20px 32px 0 rgba(0, 0, 0, 0.24),
    0 20px 32px 0 rgba(0, 0, 0, 0.19);
}

.sorted-by:hover {
  cursor: pointer;
  background-color: rgb(207, 207, 199);
}

/* .modal {
  background-color: rgba(0, 0, 0, 0.678);
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 50%;
  height: 100%;
  min-width: 300px;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
}
.modal h5 {
  font-size: 3rem;
}
.modal h6 {
  font-size: 2rem;
} */

img {
  width: 200px;
  height: 200px;
}
.add-bool-title {
  font-size: 1.2rem;
  font-weight: 300;
}
/* 
.action-btns {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
} */

.rate-book {
  padding: 8px 8px;
  border: none;
  background-color: rgb(42, 93, 141);
  color: white;
}

[name='bookRate'] {
  text-align: center;
  width: 25px;
  height: 25px;
}
